/* --------------------------------------------------------------------
* - wrapper-grid
---------------------------------------------------------------------- */
.wrapper-grid {
    z-index: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: "box-left box-right";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

/* --------------------------------------------------------------------
* - box-left
---------------------------------------------------------------------- */
.box-left {
    grid-area: box-left;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-app-blue);
}

