/* --------------------------------------------------------------------
* - variables app
* -------------------------------------------------------------------- */
:root {
    --color-app-blue: #043D5D;
    --color-app-orange: #E9971E;

    --color-app-blue-400: #00759E;
    --color-app-blue-300: #00B0D4;
    --color-app-blue-200: #6FCDEE;

    --color-app-red-400: #D44827;

    --color-app-orange-400: #F17422;
    --color-app-orange-300: #FBB840;
    --color-app-orange-200: #FFD25A;

    --color-app-gray-400: #E1F1EF;

    --border-color-default: rgba(240, 235, 179, 0.9);
}
